<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Solicitações</title>

        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <!-- css da parte interna da pagina -->
        <link rel="stylesheet" href="./css/solicitacoes.css">
        <!-- css header, menu lateral, menu superior e footer -->
        <link rel="stylesheet" href="./css/headerMenuFooter.css">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined">

        <script
            defer="defer"
            src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
        <script
            defer="defer"
            src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>

        <link
            rel="shortcut icon"
            href="./img/logo/logo-simples.png"
            type="image/x-icon"/>
    </head>

    <body>

        <div class="wrapper">
            <!-- Menu Retrátil -->
            <%- include('./partials/menu') %>

            <!-- Conteudo da página -->

            <div id="content">
                <!-- Header -->
                <div class="mainHeader">
                    <div class="titulo" id="tit">
                        <div class="nomePag">
                            <p>Solicitações</p>

                        </div>
                        <div class="finalidPag">
                            <p >Solicite serviços e reserve espaços por aqui</p>
                        </div>

                    </div>
                    <!-- inclui o logo mobile e o avatar em uma partial  -->
                    <%- include('./partials/avatar') %>
                </div>
                <hr class="docSepLine">

               
                <!-- botao para adicionar cadastro -->
                <% if(!usuario.admin) { %>
                <div class="areaBotaoCad">
                    <div>
                        <button
                            type="button"
                            id="botaoCadastro"
                            class="btn btn-secondary btn-sm"
                            data-toggle="modal"
                            data-target="#modalCadastroMorador">
                            Nova Solicitação
                        </button>
                    </div>
                </div>
                <% } %>

                <!-- area do centro da tela -->
                <!-- <div class="centroTelaSolicitacoes"> -->

                    

                    <aside class="mainAside">                      
                         <main class="aside-main-solicitacoes">
                            <% if(result.length > 0) { %>
                            <section class="solicitacoes-section">
                             
                                <article class="recebido">
                                    <div class="solicitacoes-title">Código</div>
                                    <% for(let resultado of result) { %>
                                        <div class="codigo"><%= ("00000" + resultado.id).slice(-5) %></div>
                                        
                                  <%  };%>
                                                                    
                                </article>

                                <% if(usuario.admin) { %>
                                <article class="recebido">
                                    <div class="solicitacoes-title">Morador</div>
                                    <% for(let resultado of result) { %>
                                        <div class="codigo"><%= resultado.morador.nome %></div>
                                        
                                  <%  };%>
                                                                    
                                </article>

                                <article class="recebido">
                                    <div class="solicitacoes-title">Apartamento</div>
                                    <% for(let resultado of result) { %>
                                        <div class="codigo"><%= resultado.morador.id_apartamento %></div>
                                        
                                    <% };%>
                                                                    
                                </article>
                                
                                <% } %>

                                <article class="tipo">
                                    <div class="solicitacoes-title">Tipo</div>
                                    <% for(let resultado of result) { %>
                                    <div class="type"><%= resultado.tipo %></div>
                                    <% } %> 
                                   
                                </article>
                                <article class="remetente">
                                    <div class="solicitacoes-title">Criada em</div>
                                    <% for(let resultado of result) { %>
                                    <div class="date"><%= ("0" + resultado.data.getDate()).slice(-2) + "/" + ("0"+(resultado.data.getMonth()+1)).slice(-2) + "/" + resultado.data.getFullYear() + "   " + ("0" + resultado.data.getHours()).slice(-2) + ":" + ("0" + resultado.data.getMinutes()).slice(-2) %></div>
                                    <% } %> 
                                    
                                </article>

                                <article class="remetente">
                                    <div class="solicitacoes-title">Data pretendida</div>
                                    <% for(let resultado of result) { %>
                                    <div class="date"><%= resultado.dataAlvo.split("-")[2] + "/" + resultado.dataAlvo.split("-")[1] + "/" + resultado.dataAlvo.split("-")[0] %></div>
                                    <% } %> 
                                    
                                </article>

                                <article class="destinatario">
                                    <div class="solicitacoes-title">Status</div>
                                    <% for(let resultado of result) { %>
                                    <div class="status"><p id="<%=resultado.status%>"><%= resultado.status %></p></div>
                                    <% } %> 
                                  
                                </article>

                                <article class="destinatario">
                                    <div class="solicitacoes-title"></div>
                                    <% for(let resultado of result) { %>
                                    <div class="status">
                                        <button
                                            type="button"
                                            id="botaoDetalhe"
                                            class="btn btn-secondary btn-sm"
                                            data-toggle="modal"
                                            data-target="#<%=resultado.id%>">
                                            Visualizar
                                        </button>
                                    </div>
                                    <div
                                        class="modal fade"
                                        id="confirmarExclusao<%=resultado.id%>"
                                        tabindex="2"
                                        role="dialog"
                                        aria-labelledby="exampleModalCenterTitle"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <form  action="/solicitacoes/<%=resultado.id%>?_method=DELETE" method="POST">  
                                                    <div class="modal-body">
                                                        Tem certeza de que deseja excluir esta solicitação? A ação não poderá ser desfeita.
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                        <button type="submit" class="btn btn-danger">Excluir</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="<%=resultado.id%>" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h4 class="modal-title" id="staticBackdropLabel">Solicitação nº <%= ("00000" + resultado.id).slice(-5) %></h4>
                                              <p class="status--modal" id="<%=resultado.status%>"><%= resultado.status %></p>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <%if(usuario.admin) { %>
                                                <form method="POST">
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="form-group col-6">
                                                                <label for="staticMorador" class="form-label">Morador</label>
                                                                <input type="text" readonly class="form-control-plaintext" id="staticMorador" value="<%= resultado.morador.nome %>">
                                                            </div>
                                                            <div class="form-group col-6">
                                                                <label for="staticAp" class="form-label">Apartamento</label>
                                                                <input type="text" readonly class="form-control-plaintext" id="staticAp" value="<%= resultado.morador.id_apartamento %>">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="staticType" class="form-label">Tipo</label>
                                                            <input type="text" readonly class="form-control-plaintext" id="staticType" value="<%= resultado.tipo %>">
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-6">
                                                                <label for="staticDate" class="form-label">Criada em</label>
                                                                <input type="text" readonly class="form-control-plaintext" id="staticDate" value="<%= ("0" + resultado.data.getDate()).slice(-2) + "/" + ("0"+(resultado.data.getMonth()+1)).slice(-2) + "/" + resultado.data.getFullYear() + " " + ("0" + resultado.data.getHours()).slice(-2) + ":" + ("0" + resultado.data.getMinutes()).slice(-2) %>">
                                                            </div>
                                                            <div class="form-group col-6">
                                                                <label for="staticDate" class="form-label">Data pretendida</label>
                                                                <input type="text" readonly class="form-control-plaintext" id="staticDate" value="<%= resultado.dataAlvo.split("-")[2] + "/" + resultado.dataAlvo.split("-")[1] + "/" + resultado.dataAlvo.split("-")[0] %>">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="staticDescribe" class="form-label">Descrição</label>
                                                            <input type="text" readonly class="form-control-plaintext" id="staticDescribe" value="<%= resultado.descricao %>">
                                                        </div>
                                                        <% if(resultado.status == 'Pendente') { %>
                                                        <div class="form-group">
                                                            <label for="staticComments" class="form-label">Comentários</label>
                                                            <textarea type="text" class="form-control" name="comentarios" id="staticComments" rows="6" maxlength="250" placeholder="Comente e justifique sua decisão sobre esta solicitação (max. 250 caracteres)"></textarea>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" id="btnAprovado" formaction="/updateSolicitacoesAp/<%=resultado.id%>?_method=PUT" class="btn btn-secondary"><i class="material-icons-outlined" style="font-size:24px;">check</i>Aprovar</button>
                                                            <button type="submit" id="btnReprovado"formaction="/updateSolicitacoesRep/<%=resultado.id%>?_method=PUT" class="btn btn-secondary"><i class="material-icons-outlined" style="font-size:24px;">clear</i>Reprovar</button>
                                                        </div>
                                                        <% } else { %>
                                                            <% if (resultado.comentarios) { %>
                                                            <div class="form-group">
                                                                <label for="staticComments" class="form-label">Comentários</label>
                                                                <textarea type="text" readonly class="form-control" name="comentarios" id="staticComments" maxlength="250" placeholder="Comente e justifique sua decisão sobre esta solicitação (max. 250 caracteres)"><%= resultado.comentarios %></textarea>
                                                            </div>
                                                            <% } %>
                                                            <div class="modal-footer">
                                                                <button type="button" data-toggle="modal" data-dismiss="modal" data-target="#confirmarExclusao<%=resultado.id%>" class="btn btn-secondary"><i class="material-icons-outlined" style="font-size:24px;">delete</i>Excluir</button>
                                                            </div>
                                                        <% } %>
                                                    </div>
                                                </form>
                                            <% } else { %>
                                                <form method="POST">
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label for="staticType" class="form-label">Tipo</label>
                                                            <input type="text" readonly class="form-control-plaintext" id="staticType" value="<%= resultado.tipo %>">
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-6">
                                                                <label for="staticDate" class="form-label">Criada em</label>
                                                                <input type="text" readonly class="form-control-plaintext" id="staticDate" value="<%= ("0" + resultado.data.getDate()).slice(-2) + "/" + ("0"+(resultado.data.getMonth()+1)).slice(-2) + "/" + resultado.data.getFullYear() + " " + ("0" + resultado.data.getHours()).slice(-2) + ":" + ("0" + resultado.data.getMinutes()).slice(-2) %>">
                                                            </div>
                                                            <div class="form-group col-6">
                                                                <label for="staticDate" class="form-label">Data pretendida</label>
                                                                <input type="text" readonly class="form-control-plaintext" id="staticDate" value="<%= resultado.dataAlvo.split("-")[2] + "/" + resultado.dataAlvo.split("-")[1] + "/" + resultado.dataAlvo.split("-")[0] %>">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="staticDescribe" class="form-label">Descrição</label>
                                                            <input type="text" readonly class="form-control-plaintext" id="staticDescribe" value="<%= resultado.descricao %>">
                                                        </div>
                                                        <% if (resultado.comentarios) { %>
                                                            <div class="form-group">
                                                                <label for="staticComments" class="form-label">Comentários</label>
                                                                <textarea type="text" readonly class="form-control" name="comentarios" id="staticComments" maxlength="250" placeholder="Comente e justifique sua decisão sobre esta solicitação (max. 250 caracteres)"><%= resultado.comentarios %></textarea>
                                                            </div>
                                                            <% } %>
                                                        <% if(resultado.status == 'Pendente') { %>
                                                        <div class="modal-footer">
                                                            <button type="button" data-toggle="modal" data-target="#confirmarExclusao<%=resultado.id%>" data-dismiss="modal" class="btn btn-secondary"><i class="material-icons-outlined" style="font-size:24px;">delete</i>Excluir</button>
                                                        </div>
                                                        <% } %>
                                                    </div>
                                                </form>
                                            <% } %>
                                        </div>    
                                    </div>
                                </div>
                                
                                <% } %> 
                            </article>
                            
                            </section>
                            <% } else { %>
                                <div class="emptySolicitacoes">
                                    Não há solicitações
                                </div>
                            <% } %>
                        </main>
                    </aside> 

                    <div class="modal" id="modalCadastroMorador" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Adicionar Solicitação</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="solicitacoes">
                                                                        <div class="form-group">
                                            <label for="tipoSolicitacao">Tipo</label>
                                            <select class="form-control" type="text" name="tipo" id="tipoSolicitacao" required>
                                                <option disabled selected value="">Selecione o tipo</option>
                                                <option value="Autorização">Autorização</option>
                                                <option value="Serviço">Serviço</option>
                                                <option value="Reserva de área comum">Reserva de área comum</option>
                                                <option value="Reunião">Reunião</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="dataAlvo">Data pretendida para a ocasião</label>
                                            <input class="form-control" type="date" name="dataAlvo" id="dataAlvo" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="descricaoSolicitacao">Descrição</label>
                                            <textarea class="form-control" name="descricao" id="descricaoSolicitacao" rows="6" maxlength="250" placeholder="Descreva sua solicitação (max. 250 caracteres)" required></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-secondary">Salvar</button>
                                        </div>
                                    </form>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                <!-- </div> -->  
            </div>
            
            
        </div>
        <!-- footer -->
        <%- include('./partials/footer') %>

       

        <!-- jQuery CDN - Slim version (=without AJAX) -->
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <!-- Popper.JS -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({theme: "minimal"});

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar, #content').toggleClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();
            if(dd<10){
                    dd='0'+dd
                } 
                if(mm<10){
                    mm='0'+mm
                } 

            today = yyyy+'-'+mm+'-'+dd;
            document.getElementById("dataAlvo").setAttribute("min", today);
        </script>

    </body>

</html>