<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Editar Comunicado</title>

        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- css da parte interna da pagina -->
        <link rel="stylesheet" href="/css/comunicados.css">
        <!-- css header, menu lateral, menu superior e footer -->
        <link rel="stylesheet" href="/css/headerMenuFooter.css">

        <script
            src="https://cdn.tiny.cloud/1/84yrrn5tn87elagyenl503iodydqywj36knqm0zmtmrrxra2/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>

        <script
            defer="defer"
            src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
        <script
            defer="defer"
            src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>

        <link
            rel="shortcut icon"
            href="/img/logo/logo-simples.png"
            type="image/x-icon"/>

    </head>

    <body>

        <div class="wrapper">
            <!-- Menu Retrátil -->
            <%- include('./partials/menuRetratil') %>

                <!-- Conteudo da página -->

                <div id="content">
                    <!-- Header -->
                    <div class="mainHeader">
                        <div class="titulo" id="tit">
                            <div class="nomePag">
                                <p>Comunicados</p>

                            </div>
                            <div class="finalidPag">
                                <p >Fique por dentro dos eventos e novidades!</p>
                            </div>

                        </div>
                        <!-- inclui o logo mobile e o avatar em uma partial -->
                        <%- include('./partials/avatar') %>
                        </div>

                        <hr 0="0" class="docSepLine" margin:="margin:">

                        <div class="centroTelaComunicados">

                            <form action="/alterarComunicado/<%=comunicados.id%>?_method=PUT" method="POST">
                                <div id="botaoComunicado">

                                <button type="submit"  class="btn btn-secondary">Salvar</button>

                                <button class="btn btn-danger" id="botaoCancelar"><a href="/comunicados">Cancelar</a></button>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Titulo</label>
                                <input
                                    class="form-control"
                                    value="<%=comunicados.titulo%>"
                                    type="text"
                                    name="titulo"
                                    id="exampleFormControlTextarea1"
                                    rows="1"></input>
                            </div>

                            <textarea name="informacao" id="full-featured-non-premium">
                                <%-comunicados.informacao%>

                                </textarea>

                                

                            </form>

                            <!-- footer -->
                            <%- include('./partials/footer') %>

                            </div>

                        </div>

                        <script>
                            tinymce.init({
                                selector: 'textarea#full-featured-non-premium',
                                plugins: 'print preview paste importcss searchreplace autolink autosave save directional' +
                                        'ity code visualblocks visualchars fullscreen image link media template codesam' +
                                        'ple table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist l' +
                                        'ists wordcount imagetools textpattern noneditable help charmap quickbars emoti' +
                                        'cons',
                                imagetools_cors_hosts: ['picsum.photos'],
                                menubar: 'file edit view insert format tools table help',
                                toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect fo' +
                                        'rmatselect | alignleft aligncenter alignright alignjustify | outdent indent | ' +
                                        ' numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emot' +
                                        'icons | fullscreen  preview save print | insertfile image media template link ' +
                                        'anchor codesample | ltr rtl',
                                toolbar_sticky: true,
                                autosave_ask_before_unload: true,
                                autosave_interval: "30s",
                                autosave_prefix: "{path}{query}-{id}-",
                                autosave_restore_when_empty: false,
                                autosave_retention: "2m",
                                image_advtab: true,
                                content_css: '//www.tiny.cloud/css/codepen.min.css',
                                link_list: [
                                    {
                                        title: 'My page 1',
                                        value: 'http://www.tinymce.com'
                                    }, {
                                        title: 'My page 2',
                                        value: 'http://www.moxiecode.com'
                                    }
                                ],
                                image_list: [
                                    {
                                        title: 'My page 1',
                                        value: 'http://www.tinymce.com'
                                    }, {
                                        title: 'My page 2',
                                        value: 'http://www.moxiecode.com'
                                    }
                                ],
                                image_class_list: [
                                    {
                                        title: 'None',
                                        value: ''
                                    }, {
                                        title: 'Some class',
                                        value: 'class-name'
                                    }
                                ],
                                importcss_append: true,
                                height: 400,
                                file_picker_callback: function (callback, value, meta) {
                                    /* Provide file and text for the link dialog */
                                    if (meta.filetype === 'file') {
                                        callback('https://www.google.com/logos/google.jpg', {text: 'My text'});
                                    }

                                    /* Provide image and alt text for the image dialog */
                                    if (meta.filetype === 'image') {
                                        callback('https://www.google.com/logos/google.jpg', {alt: 'My alt text'});
                                    }

                                    /* Provide alternative source and posted for the media dialog */
                                    if (meta.filetype === 'media') {
                                        callback('movie.mp4', {
                                            source2: 'alt.ogg',
                                            poster: 'https://www.google.com/logos/google.jpg'
                                        });
                                    }
                                },
                                templates: [
                                    {
                                        title: 'New Table',
                                        description: 'creates a new table',
                                        content: '<div class="mceTmpl"><table width="98%%"  border="0" cellspacing="0" cellpaddi' +
                                                'ng="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td>' +
                                                ' </td></tr></table></div>'
                                    }, {
                                        title: 'Starting my story',
                                        description: 'A cure for writers block',
                                        content: 'Once upon a time...'
                                    }, {
                                        title: 'New list with dates',
                                        description: 'New List with dates',
                                        content: '<div class="mceTmpl"><span class="cdate">cdate</span><br /><span class="mdate"' +
                                                '>mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>'
                                    }
                                ],
                                template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
                                template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
                                height: 600,
                                image_caption: true,
                                quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
                                noneditable_noneditable_class: "mceNonEditable",
                                toolbar_mode: 'sliding',
                                contextmenu: "link image imagetools table"
                            });
                        </script>

                        <script type="text/javascript">
                            $(document).ready(function () {
                                $("#sidebar").mCustomScrollbar({theme: "minimal"});
                                $('#sidebarCollapse').on('click', function () {
                                    $('#sidebar, #content').toggleClass('active');
                                    $('.collapse.in').toggleClass('in');
                                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                                });
                            });
                        </script>

                        <!-- jQuery CDN - Slim version (=without AJAX) -->
                        <script
                            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                            crossorigin="anonymous"></script>
                        <!-- Popper.JS -->
                        <script
                            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
                            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
                            crossorigin="anonymous"></script>
                        <!-- Bootstrap JS -->
                        <script
                            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
                            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
                            crossorigin="anonymous"></script>
                        <!-- jQuery Custom Scroller CDN -->
                        <script
                            src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

                    </body>

                </html>